h1 {
  text-align: center;
  font-size: 1.3em;
}

h2 {
  text-align: center;
  font-size: 1.1em;
}

.boutonsPlusMoins {
  background-color: #000277;
  color: white;
  width: 25%;
}

.boutonsTri {
  background-color: #000277;
  color: white;
  width: 33.33%;
}

button:disabled {
  background-color: darkgray;
  color: dimgray;
}

@media screen and (min-width: 601px) {
  .boutonsTri {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .boutonsTri {
    font-size: 12px;
    height: 36px;
  }
  .boutonsPlusMoins {
    font-size: 12px;
    height: 36px;
  }
}

.boutonsRow {
  width: 100%;
  vertical-align: text-bottom;
}
