h1 {
  text-align: center;
  font-size: 1.3em;
}

h2 {
  text-align: center;
  font-size: 1.1em;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
}

select {
  width: 100%;
  padding: 3px 3px;
  border: 1px dashed dimgrey;
  border-radius: 4px;
  color: #000277;
  background-color: darkgrey;
}

.boutonsPlusMoins {
  background-color: #191a4b;
  /* color: white; */
  width: 25%;
}

.boutonsTri {
  background-color: #191a4b;
  /* color: white; */
  width: 33.33%;
}

button:disabled {
  background-color: darkgray;
  color: dimgray;
}

button {
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  .boutonsTri {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .boutonsTri {
    font-size: 14px;
    height: 36px;
  }
  .boutonsPlusMoins {
    font-size: 14px;
    height: 36px;
  }
}

.boutonsRow {
  width: 100%;
  vertical-align: text-bottom;
}
