section {
  margin: 0;
  padding: 0;
  min-width: 50vw;
  height: 80vh;
}

h1 {
  text-align: center;
  font-size: 1.3em;
}

h2 {
  text-align: center;
  font-size: 1.1em;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
}

select {
  width: 100%;
  padding: 3px 3px;
  border: 1px dashed dimgrey;
  border-radius: 4px;
  color: #000277;
  background-color: darkgrey;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* height: 2.5rem; */
  line-height: 2.5rem;
  background-color: #000277;
}

li {
  color: white;
  font-weight: bold;
  width: 33.33%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  vertical-align: text-top;
}

.icon {
  top: -0.09em;
  position: relative;
  display: inline-block;
}

.boutonsPlusMoins {
  background-color: #000277;
  color: white;
  width: 25%;
  height: 2rem;
}

.boutonsTri {
  height: 2.5rem;
  background-color: #000277;
  color: white;
  font-weight: bold;
  width: 33.33%;
  text-align: center;
  align-items: center;
  vertical-align: text-top;
}

button:disabled {
  background-color: darkgray;
  color: dimgray;
}

button {
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  .boutonsTri {
    font-size: 1rem;
    height: 2rem;
  }
  .boutonsPlusMoins {
    font-size: 1rem;
    height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .boutonsTri {
    font-size: 0.7rem;
    height: 2rem;
  }
  .boutonsPlusMoins {
    font-size: 0.7rem;
    height: 2rem;
  }
}

.boutonsRow {
  width: 100%;
  border: 3px;
  border-color: dimgrey;
}

.textinfo {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding: 1em;
}
