section {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 80vh;
}

h1 {
  text-align: center;
  font-size: 1.3em;
}

h2 {
  text-align: center;
  font-size: 1.1em;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 0.9em;
}

select {
  width: 100%;
  padding: 3px 3px;
  border: 1px dashed dimgrey;
  border-radius: 4px;
  color: --nav-color-background;
  background-color: darkgrey;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  line-height: 2.5rem;
  background-color: #000277;
}

li {
  color: white;
  font-weight: bold;
  width: 33.33%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  vertical-align: text-top;
}

.icon {
  top: -0.09em;
  position: relative;
  display: inline-block;
}

.boutonsTri {
  height: 2.5rem;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-weight: bold;
  width: 33.33%;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  border: 0;
}

.statusbar {
  background-color: var(--bar-color-background);
  color: var(--bar-color-foreground);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--bar-color-foreground);
}

input[type='range'] {
  width: 50%;
  background: var(--bar-color-foreground);
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.7rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 2px var(--color-background);
  background: var(--bar-color-foreground);
  border-radius: 5px;
  border: 0px solid var(--color-background);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.7rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 2px var(--color-background);
  background: var(--bar-color-foreground);
  border-radius: 5px;
  border: 0px solid var(--color-background);
}

.resizebtn {
  background-color: var(--bar-color-background);
  color: var(--bar-color-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  margin: 0;
  padding: 0em;
  border: 0px;
}

.boutonsPlusMoins {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 1.5em;
  padding: 4px 10px 4px 10px ;
  border: 0px;
  font-weight: bold;
}

.textinfo {
  display: inline-block;
  position: relative;
  width: 20%;
  border: 0px;
  padding: 0em;
  vertical-align: middle;
}
.infoleft {
  font-size: 0.65em;
  margin-left: 0.6em;
  text-align: left;
}
.inforight {
  font-size: 0.65em;
  margin-right: 0.6em;
  text-align: right;
}

.boutons {
  font-weight: bold;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  &:not(:disabled):hover {
    background-color: var(--ui-color-background);
    color: var(--ui-color-foreground);
    border-radius: 6px;
  }
  &:disabled {
    color: var(--ui-color-disabled);
    cursor: initial;
  }
}

.credits {
  position:fixed;
  bottom:0;
  margin-bottom: 10px;
  width:100%;
  text-align: center;
  font-weight: normal;
  font-size: 7pt;
  color: var(--credit-color-foreground);
}

.credits a {
  color: var(--credit-color-foreground);
}

@media screen and (min-width: 601px) {
  .boutonsTri {
    font-size: 1.1rem;
    height: 4rem;
  }
  section {
    width: 60%;
  }
}

@media screen and (min-width: 741px) and (max-width: 800px){
  .boutonsTri {
    font-size: 1rem;
    height: 4rem;
  }
  section {
    width: 60%;
  }
}



@media screen and (max-width: 740px) {
  .shuffleicon {
    width: 12px;
    height: 12px;
  }
  .boutonsTri {
    font-size: 0.9rem;
    height: 2rem;
  }
  .boutonsPlusMoins {
    height: 2rem;
  }
  .textinfo {
    font-size: 0.55rem;
  }
  section {
    width: 60%;
  }
}

.boutonsRow {
  width: 100%;
}
